.button {
  display: inline-flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--Brand-white, #fff);
  cursor: pointer;
  height: 40px;
}

.button--primary {
  background: var(--Brand-red, #c41f3e);
}

.button--primary:hover {
  background: var(--Brand-burgundy, #8b1d41);
}

.button--secondary {
  color: var(--Brand-red, #c41f3e);
  border: 2px solid var(--Brand-red, #c41f3e);
}

.button--secondary:hover {
  border: none;
  color: var(--Brand-white, #fff);
  background: var(--Brand-burgundy, #8b1d41);
}

.button--overlay {
  color: var(--Brand-white, #fff);
  border: 2px solid var(--Brand-white, #fff);
}

.button--overlay:hover {
  border: none;
  color: var(--Brand-black, #000);
  background: var(--Brand-white, #fff);
}

.button--small {
  height: 30px;
}
